BODY{
    padding:0px;
    margin:0px;
    /*background-color:#3399cc;*/
    font-family:arial;
    /*font-size:12px;*/
}

a{
    text-decoration: none;
}
a img {
    border: none;
}



/*Form*/
.Form_td1{
    width: 200px;
    text-align:right;
}
.Form_td2{
    color:#000000;
    width:200px;
}
.Form_td3{
    color:#000000;
    padding-left:3px;
}
.Form_input{
    width:200px;

}
